@import url("https://fonts.googleapis.com/css2?family=Signika:wght@400;600;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

/*-------------------------------------------------*/
.header--content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
}

.header--image {
  width: calc((1vh + 1vw) * 7);
}

.header--nav {
  display: flex;
  gap: calc((1vh + 1vw) * 2);
}

.nav--item {
  font-size: calc((1vh + 1vw) * 0.55);
}

.nav--item:hover {
  color: #d5621d;
}

.header--button {
  border: calc((1vh + 1vw) * 0.1) solid #d5621d;
  border-radius: 4px;
  padding: calc((1vh + 1vw) * 0.3) calc((1vh + 1vw) * 0.5);
}

.header--button span {
  font-size: calc((1vh + 1vw) * 0.65);
}

body,
html {
  font-family: "Signika", sans-serif;
  height: 100%;
  overflow: hidden;
}

.wrapper {
  background-color: #210e09;
  min-height: 100%;
  padding: calc((1vh + 1vw) * 1.1) 0;
}

.content {
  margin: 0 auto;
  max-width: calc((1vh + 1vw) * 50);
}